/* Resetando alguns estilos padrão */
body, h1 {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Estilizando o header e o menu */
header {
    background-color: #000000;
}

nav {
    
    display: flex;
    justify-content: center;
}

/* tag para editar o icone da barra menu */
nav ul li img {
    width: 44px;
    height: 44px;
    border: 0;
    margin: 0;
    padding: 0;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu li {
    margin: 0;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: rgb(10, 10, 245);
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgb(163, 12, 12);
}

/* Estilizando as seções */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section {
    color: rgb(35, 35, 204);
}


